@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: black;
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
